<%= link_to course do %>
  <div class="panel panel-primary">
    <div class="panel-heading">
        <%= course.name %>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <p><%= course.titleline %></p>
            </div>
        </div>
    </div>
  </div>
<% end %>
