<h1>NKUnet</h1>


<table>
    <tbody>
    <tr> 
    <th width="30%">Subject</th>
    <th width="70%">Title</th>
      
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <span class="listing"> 
          <td><strong><h4><%= link_to  @courses.find(post.course_id).name, post %></h4></strong></td>
          <td><h5><%= link_to post.title, post %></h5></td>
        </span>
      </tr>
    <% end %>
  </tbody>
</table>


<strong><h2>Course courses:</h2></strong>
<table>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <span class="listing"> 
          <td><strong><h4><%= link_to  course.name, course %></h4></strong></td>
        </span>
      </tr>
    <% end %>
  </tbody>
</table>
