<!--<h1>NKUnet</h1>-->
<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-2"></div>
    <div class="background-img col-md-8">
    <%= link_to image_tag("background1.jpg", alt: "logo"), '/' %>
    </div>
    <div class="col-md-2"></div>
  </div>
  
  
  <% Post.all.each do |post| %>
    <div class="row listing"> 
      <div class="col-md-3"></div>
      <%= render post %>
      <div class="col-md-3"></div>
    </div>
  <% end %>
  
  <strong><h2>Courses:</h2></strong>
    <% @courses.each do |course| %>
      <div class="row listing"> 
        <div class="col-md-2"></div>
        <span class="col-md-7"><strong><h4><%= link_to  course.name, course %></h4></strong></span>
        <div class="col-md-3"></div>
      </div>
    <% end %>

</div>
