<div class="bdGrid container-fluid">
  <div class="row">
    <div class="col-md-10 course_content">
      <div class="row">
        <div class="col-md-2"></div>
        <h3 class="col-md-6"><strong><%= @course.name %></strong></h3>
        <div class"col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
          <%= link_to "Submit Question!", "/posts/new?course=#{@course.id}&subj=#{@course.name}", class: "btn btn-default custom_submit" %>
        </div>
        <div class"col-md-1"></div>
      </div>
          
      
      <% @posts.each do |post| %>
        <div class="row listing">
          <div class="col-md-2"></div>
          <%= render partial: 'courses/post_listing', locals: {post: post} %>
          <div class="col-md-3"></div>
        </div>
      <%  end %>
    </div>
    <%= render "sidebar" %>
  </div>
</div>
