
<div class="container">
  <%= form_for(course_registration_path(@user.id)) do |f| %>
    <% @courses.each do |course| %>
      <%= render course %>
    <% end %>
    <div class="col col-md-12 row registerCustom" ></div>
    <div class="col col-md-9 row registerCustom">
      <%= f.submit("Update user's registration!", class: "btn btn-default btn-lg custom_submit")%>
    </div>
    <div class="col-6 col-md-6 row "></div>
  <% end %>
</div>


